/**
 * Variables
 */

$root-font-size: 1rem;
$root-line-height: 1.5;

$base-font-family: 'Source Sans Pro', sans-serif;

$heading-font-family: Raleway, sans-serif;
$heading-font-weight: 700;

$layout-head-height: 4rem;
$layout-aside-width: 14rem;
